<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileDiffTool.Path" value="C:\Program Files\KDiff3\kdiff3.exe"/>
    <add key="FileDiffTool.Arguments" value="{file1} {file2}"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
